<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientRegister</display-name>
    <servlet-name>PatientRegister</servlet-name>
    <servlet-class>com.controller.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegister</servlet-name>
    <url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeAllServlets</display-name>
    <servlet-name>IncludeAllServlets</servlet-name>
    <servlet-class>com.controller.IncludeAllServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeAllServlets</servlet-name>
    <url-pattern>/hospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.controller.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllPatients</servlet-name>
    <servlet-class>com.controller.ViewAllPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatients</servlet-name>
    <url-pattern>/viewAllPatients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDoctors</display-name>
    <servlet-name>ViewAllDoctors</servlet-name>
    <servlet-class>com.controller.ViewAllDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDoctors</servlet-name>
    <url-pattern>/ViewAllDoctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorRegister</servlet-name>
    <servlet-class>com.controller.DoctorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegister</servlet-name>
    <url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
</web-app>